pre {
	 display:none;
}

a{
	color:#ff0000;
	background-color:#ffffff;
	padding:3px;
	font-size:small;
	text-decoration: none;
	width:10em;
	font-weight:normal;
	cursor: hand;
	border-radius:4px;
}

h1 {
padding-top: 3em;
}

body {
font-family:"Tahoma";
font-size: 12px;
padding-top: 0;
margin-top: 0;
}

p {
font-family:"Calibri";
font-size: 12px;
padding:4px;
border-radius:3px;
margin:2px;
display:block;
background-color:#eeeeee;
}

img{
float: none;
}

.Header{
position:fixed;
background:#ffffff;
padding-bottom:1em;
}

.Padding{
 height:20em;
}


.Icon{
float: left;
width:2em;
background-color:transparent;
}

.Time{
float: left;
width:12em;
background-color:transparent;
}

.Log {
	background-color:#eeeeee;
}

.Warning {
/* background-color:#e48625; */
/* color:#ffffff; */
}

.Error {
/* background-color:#ff2a2a; */
/* color:#ffffff; */
}

.Assert {
/* background-color:#ffeecc; */
/* color:#e48625; */
}


.Exception {
/* background-color:#ffdddd; */
/* color:#dd0000; */
}


.Physics {
/* background-color:#9999ff;] */
}

.Audio {
/* background-color:#aff200; */
}

.Graphics {
/* background-color:#ff99ff; */
}

.GUI {
/* background-color:#cc99ff; */
/* color:9000ff; */
}


.GUIMessage {
/* background-color:#9000ff; */
/* color:#ffffff; */
}

.AI {
/* background-color:#99ccff; */
}

.GameLogic {
/* background-color:#99ffff; */
}

.System{
/* background-color:#2a2aff; */
/* color:#ffffff; */
}

.Networking {
/* background-color:#99ffcc; */
}

.Content {
/* background-color:#ff99cc; */
}

.Replay {
/* background-color:#ff9966; */
}

.Terrain {
/* background-color:#00aa33; */
}

.NetworkClient {
/* background-color:#99ffcc; */
}

.NetworkServer {
/* background-color:#99ffcc; */
}

.Input {
/* background-color:#ffcc00; */
}

.Button {
	display:inline;
	width:10em;
	border:none;
	border-radius: 5px;
	padding:4px;
	margin:2px;
	cursor: hand;
}